:root{
    --dark-magenta: hsl(300, 43%, 22%);
    --pink: hsl(333, 80%, 67%);
    --grayish-magenta: hsl(303, 10%, 53%);
    --light-magenta: hsl(300, 24%, 96%);
    --rounded: .5em;
    font-size: 15px;
}

body{
    font-family: 'Spartan', sans-serif;
    line-height: 1.6;
    background-image: url(../images/bg-pattern-top-mobile.svg), 
                      url(../images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

section{
    margin: 5rem auto;
    color: var(--dark-magenta);
    text-align: center;
    max-width: 70em;
    display: grid;
    gap: 3em;
}

img{
    max-width: 100%;
}

h1,h2,h3,p{
    margin: 0
}

.container{
    width: 90%;
    max-width: 70em;
    margin: 0 auto;
}

.split{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;

    & > *{
        width: 100%;
    }
}

.spacing> * + *{
    margin-top: var(--spacer, 1rem);
}

.title{
    line-height: 1;
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 3vw + 1rem, 3rem);
}

.statement{
    p{
        font-weight: 500;
        color: var(--grayish-magenta);
    }
}

.rating{
    background: var(--light-magenta);
    border-radius: var(--rounded, .5em);
    padding: 1em;
    display: flex;
    flex-direction: column;

    img{
        display: inline;
    }

    p{
        font-weight: 700;
    }

    .stars > *{
        margin: 0 .1em;
    }
}

.review{
    height: 12em;
    background: var(--dark-magenta);
    color: var(--light-magenta);
    padding: 2.5em;
    border-radius: var(--rounded, .5em);
    text-align: left;
    font-weight: 400;
    font-size: .9rem;

    .user{
        display: flex;

        img{
            display: inline;
            border-radius: 50%;
            width: 3em;
            height: 3em;
        }
    
        p{
            font-weight: 700;
            padding-left: 1.5em;

            span{
                display: block;
                font-weight: 400;
                color: var(--pink);
                opacity: .9;
            }
        }
    }
}

@media screen and (min-width: 50em) {
    body{
        background-image: url(../images/bg-pattern-top-desktop.svg),
                          url(../images/bg-pattern-bottom-desktop.svg);
        background-size: 50vw, 75vw;
    }

    section{
        width: 90%;
        grid-template-columns: 45% 55%;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "statement ratings"
            "reviews reviews";
        gap: 3em;
    }

    .container{
        margin: 0;
    }

    .statement{
        grid-area: statement;
        text-align: left;
        width: fit-content;
    }

    .ratings{
        grid-area: ratings;
        justify-content: left;
        height: fit-content;
    }

    .rating{
        width: 80%;
        height: fit-content;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        &:nth-child(2){
            margin-left: 3em;
        }

        &:nth-child(3){
            margin-left: 6em;
        }
    }

    .reviews{
        width: 100%;
        grid-area: reviews;
        flex-direction: row;
        justify-content: start;
        flex-wrap: nowrap;
        margin: 0;
        justify-content: space-between;
    }

    .review{
        height: fit-content;

        &:nth-child(2){
            margin-top: 1em;
        }

        &:nth-child(3){
            margin-top: 2em;
        }
    }
}